@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --branco-gelo: #f6f6f6;
    --amarelo-claro: #ffdc52;
    --amarelo-escuro: #fac600;
    --azul-claro: #69d7d4;
    --azul-escuro: #004aad;
    --chumbo: #1c1c1c;
    --preto: black;
    --preto-box-shadow: rgba(0,0,0,0.2);
    --cinza-claro-borda: rgb(167, 167, 167);

    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;
    --fonte-menu: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--branco-gelo);
    min-height: 100vh;
}

h1{
    text-align: center;
    color: var(--azul-escuro);
    font-family: var(--fonte-titulo);
    font-size: 1.875em;
    padding-top: 5%;
    padding-bottom: 1.5%;
    font-weight: bolder;
}

p {
    text-align: center;
    color: var(--chumbo);
    font-family: var(--fonte-texto);
    font-size: 1.125em;
    line-height: 1.6;
}

.menu-topo{
    padding: 0em 0em 0em 1.875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    box-shadow: 0px 0px 9px 0px var(--preto-box-shadow);
}

.menu-topo.ativo{
    background: var(--azul-claro);
    position: fixed;
    box-shadow: 0px 0px 18px 0px var(--preto-box-shadow);
}

.menu li a:hover{
    color:rgb(61, 61, 61);
    transition: 0.3s;
}

.menu-ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 3.125em;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    color: var(--preto);
    font-size: 1em;
    font-family: var(--fonte-menu);
    padding-bottom: 11px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #fffafa;
    top: 28px;
    border: 1px solid var(--cinza-claro-borda);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px var(--preto-box-shadow);
    z-index: 1;
    font-family: var(--fonte-menu);
}

#dp1 {
    width: 200px;
}

.dropdown:hover .dropdown-content {
    display: block;
    left: -10px;
}

.dropdown-content li {
    padding: 20px 0px;
    margin: 0px;
    border-bottom: 1px solid var(--cinza-claro-borda);   
}

.dropdown-content li:last-child{
    border-bottom: none;
}

.dropdown-content li a {
    padding: 20px 55px 20px 20px;
    margin: 0px;
}

.dropdown-content li:hover {
    background-color: var(--amarelo-escuro);
    transition: 0.3s;
}

.dropdown-content li:hover:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.dropdown-content li:hover:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.link-ativo {
    border-bottom: 8px solid var(--amarelo-escuro);
}

header {
    width: 100%;
    height: 82vh;
    background: url("imagens/banners\ 2/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header img {
    width: 2.1875em;
    height: 2.5em;
    padding-top: 0.3125em;
}

.header_logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_logo p {
    margin: 0.9375em;
}

a, img {
    text-decoration: none;
    cursor: pointer;
}

header li{
    margin: 0.9375em;
}

.sobre h1{
    padding-bottom: 0em;
}

.sobre p{
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 1.875em;
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.875em;
}

.video-iframe{
    padding-top: 1.875em;
}

.pets_adocao h1{
    color: var(--chumbo);
    padding-top: 50px;
    padding-bottom: 0em;
}

.pets_adocao{
    background-color: var(--azul-claro);
    padding: 0.625em 3.75em 3.75em 3.75em;
}

.fotos_pets_adocao{
    display: flex;
    flex-wrap: wrap; 
}

.fotos_pets_adocao > div {
    flex: 1 1 auto;
    margin: 3.125em 0.4375em 0em 0.4375em;
}

.fotos_pets_adocao img{
    width: 18.125em;
    height: 18.125em;
    object-fit: cover;
}

.legenda {
    font-family: var(--fonte-titulo);
    color: var(--preto);
    font-weight: bold;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 1.875em;
}

.botao button{
    background-color: var(--amarelo-escuro);
    border: 10px;
    border-radius: 5%;
    padding: 3%;
    width: 25em;
    font-size: 0.9375em;
    cursor: pointer;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8.125em;
    margin-bottom: 3.125em;
}

.icons img{
    width: 10.625em;
}

.local {
    padding: 0.625em 3.75em 1.25em 3.75em;
    margin-bottom: 0.3125em;
}

.infos_parque {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875em;
    padding-bottom: 1.375em;
}

.infos_parque p{
    text-align: justify;
}

.infos_parque div{
    width: 25em;
}

.info_parque_p3{
    width: 44.5em;
    margin-left: 1.875em;  
}

.fotos_parque{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40.625em;
} 

.foto_parque_2{
    margin-top: 0.625em;
}

.mapa_parque {
    margin-left: 0.9375em;
}

.rodape{
    background-color: var(--amarelo-claro);
}

.rodape-container{
    height: 47vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1em;
    flex-wrap: wrap;
}

.footer_logo{
    margin-left: 2.5em;
    margin-top: -2.5em;
}

.rede-social{
    padding: 0.5em;
    position: relative;
    right: -5em;   
}

.footer_dados{
    margin-top: 3em;
    margin-right: 5em;
}

footer p {
    padding-top: 0.5em;
    text-align: right;
}

@media only screen and (min-width: 350px) and (max-width: 1000px) and (max-height: 950px){
    .fotos_pets_adocao img{
        max-width: 200px;
        max-height: 200px;
    }

    .icons > div{
        padding: 15px;
    }

    p {
        font-size: 1em;
    }

    h1{
        font-size: 1.3em;
        text-align: center;
    }

    .video h1{
        width: 50vw;
    }

    .video-iframe iframe{
        width: 100%;
    }

    .sobre{
        margin-bottom: 30px;
    }

    button{
        max-width: 20em;
        font-size: 0.5em;
    }

    .infos_parque{
        display: flex;
        flex-direction: column;
    }

    .infos_parque p{
        max-width: 60vw;
        margin-top: 1px;
    }

    .info_parque_p2, .info_parque_p1{
        margin: 30px;
    }

    .fotos_parque_imagens img{
        width: 250px;
        height: 250px;
    }

    .mapa_parque iframe{
        display: none;
        visibility: hidden;
    }

    .rodape{
        width: 100%;
        height: 100vh;
    }

    .rodape-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_logo img{
        width: 8em;
        height: 8em;
        margin-top: 32px;
    }

    .footer_links{
        margin-left: 5px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .footer_links img{
        width: 4em;
        height: 4em;
    }

    .footer_dados p{
        font-size: 0.9em;
        text-align: center;
        margin-left: 90px;
        align-self: center;
    }   
}

@media only screen and (max-width: 900px) and (min-height: 1000px) {
    .sobre{
        margin-bottom: 60px;
        margin-top: -340px;
    }

    .mapa_parque iframe{
        width: 90%;
    }
}

@media only screen and (min-width: 1110px) and (max-width: 1336px) {
    .pets_adocao img{
        margin: -10px;
        padding: 10px;
    }

    .mapa_parque iframe{
        max-width: 46em;
    }

    .info_parque_p3 {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 1600px){
    .pets_adocao, .sobre, .section2, .local{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_logo{
        margin-right: 33em;
    }

    .footer_links{
        padding-left: 125px;
    }

    .fotos_pets_adocao, .sobre-texto, .icons, .local-container, .rodape-container, .botao{
        max-width: 1350px;
    }

    p{
        font-size: 1.5em;
    }

    h1{
        font-size: 2.5em;
    }

    .botao button{
        font-size: 1.4em;
    }

    .info_parque_p3{
        max-width: 33em;
    }

    .icons, .sobre{
        margin-bottom: -1em;
    }
}