@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
    min-height: 100vh;
}

.menu-topo{
    padding: 0em 0em 0em 1.875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
}

.menu-topo.ativo{
    background:#69d7d4;
    position: fixed;
}

.menu li a:hover{
    color:rgb(61, 61, 61);
    border-radius: 3px;
}

.link-ativo {
    border-bottom: 8px solid #fac600;
}

header {
    width: 100%;
    height: 75vh;
    background: url("imagens/banners/FEIRA DE ADOÇÃO banners/3 cortado novo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header img {
    width: 2.1875em;
    height: 2.5em;
    padding-top: 0.3125em;
}

.header_logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_logo p {
    margin: 0.9375em;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    padding-right: 3.125em;
}

.menu, ul {
    list-style: none;
}

a, img {
    text-decoration: none;
    cursor: pointer;
}

.menu li a {
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 13px;
}

header li{
    margin: 0.9375em;
}

h1{
    text-align: center;
    color: #1c1c1c;
    background-color: #69d7d4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    padding-top: 5%;
    padding-bottom: 4%;
    margin-top: 50px;
    margin-bottom: 75px;
    font-weight: bolder;
}

h2{
    text-align: center;
    color: #1c1c1c;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
    font-weight: bolder;
}

.pets {
    margin-bottom: -3em;
}

#pet_infos{
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    padding-top: 5%;
    padding-bottom: 1.5%;
}

p{
    color: #1c1c1c;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    line-height: 1.4;
    width: 31em;
}

.pets img{
    width: 18.4375em;
    height: 21.25em;
    margin-right: 1.5625em;
}

.descricao_pet{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 6.5625em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.paragrafos{
    width: 34.875em;
}

.rodape{
    background-color: #ffdc52;
}

.rodape-container{
    height: 47vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1em;
    flex-wrap: wrap;
}

.footer_logo{
    margin-left: 2.5em;
    margin-top: -2.5em;
}

.rede-social{
    padding: 0.5em;
    position: relative;
    right: -18em;   
}

.footer_dados{
    margin-top: 3em;
    margin-right: 5em;
}

footer p {
    padding-top: 0.7em;
    text-align: right;
}
   
@media only screen and (max-width: 1160px){

    .descricao_fotos img{
        width: 12.5em;
        height: 15.625em;
        margin-left: -90px;
    }

    h1{
        font-size: 1.7em;
        text-align: center;
    }

    .rodape{
        width: 100%;
        height: 100vh;
    }

    .rodape-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_logo img{
        width: 8em;
        height: 8em;
        margin-top: 30px;
    }

    .footer_links{
        margin-left: -90px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .footer_links img{
        width: 4em;
        height: 4em;
    }

    .footer_dados p{
        font-size: 0.9em;
        text-align: center;
        margin-left: 90px;
        align-self: center;
    }   
}

@media only screen and (min-width: 1600px){
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }

    .footer_logo{
        margin-right: 33em;
    }

    .footer_infos{
        padding-left: 500px;
        margin-top: -330px;
    }
    
    .pets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .descricao_pet, .rodape-container {
        max-width: 1350px;
    }

    p{
        font-size: 1.6em;
    }

    h1{
        font-size: 2.5em;
        width: 100%;
    }
}